@font-face {
  font-family:'harry';
  src: url('./fonts/MagicSchoolOne-ovYz.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f0ffffde;
  font-family: 'Noto Sans', sans-serif;
}

.main {
  width: 100vw; /* Porcentagem da largura do viewport no eixo X */
  height: 100vh;
  background-color: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.evaluation-form {
  width: 75%; /* Vw é o tamanho da viewport, a tela onde esta a página. A % pega o tamanho da div, nesse caso, a div onde esta o card. 60% e 50 vw */
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.evaluation-form > h1 {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  text-align: center;
  font-family: 'harry';
  color: #00ff88;
  font-weight: 500;
  margin: 0;
}

.form-control > option {
  color: #201b2c;
}

.btn-forms {
  width: 100%;
  padding: 10px 0px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}

.right {
  width: 40vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 30vw;
}

#textarea {
  display: block;
  width: 100%;
  resize: none;
  outline: none;
  color: #201b2c;
}

#caracteres {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-end;
}

#caracteres > label {
  margin-right: 10px;
}
