.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.trybewarts-header-logo {
  width: 50px;
}

#trybewarts-header-title {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  color: white;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#trybewarts-form-title {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#familia {
  display: flex;
  flex-direction: column;
}

#checkboxes {
  display: flex;
}

#stacks {
  display: flex;
  flex-direction: column;
}

#conteudos {
  display: flex;
  justify-content: space-between;
}

#textarea {
  display: block;
  width: 100%;
  resize: none;
}
